
body {
	margin: 0;
}

.main{
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
}

/*TOP HEADER AREA*/

.site-top{

/*box attributes*/
	background-color: #d35400;
	border-bottom: 6px solid gray;
	height: 200px;
	padding-left: 10px;
/*places the My Website text*/
	line-height: 350px;
/*text attributes*/
	color:white;
	font-size: 12px;

}

/*NAV AREA*/


.header-nav{
	/*box attributes*/
	background-color: #2980b9;
	border-bottom: 6px solid gray;
	height: 28px;
	text-align: right;

}


.ul-nav{
	margin: 0;
	text-align: center;
	/*Places the Nav area directly under the top header area*/
}

.ul-nav li{
	/*nav area text attributes*/
	margin-right: 15px;
	display: inline-block;
	padding: 5px 0px 5px 0px;

}

.ul-nav a{
	color:black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
} 

.nav-link:hover{
	/*HOVER Nav text behavior*/
	
	background-color: #ecf0f1;
	padding: 2px 5px 2px 5px  ;
	color:gray;
	border-radius: 10px;
	border: 2px solid #c0392b;

}


.images, .text{
text-align: center;
box-sizing: border-box;
}



.small, .text{
	width: 80%;
	margin: auto;

}


.small-img{
	width: 25%;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid black;
/*	margin-left: 1px;
	margin-right: 1px;*/


}

.big-img{

	border: 1px solid black;
	margin: 20px auto;
	display: block;
	box-sizing: border-box;
	


}


@media screen and (max-width: 960px){

.main{
	padding: 0px 10px;
}
}


@media screen and (max-width: 496px){

.ul-nav a, .ul-nav li{
display: block;
}
.header-nav{
	height: auto;
}

}
 @media screen and (max-width: 975px){
.small img{
	display: block;
	margin-right: auto;
	margin-left: auto;

}


 }


